* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
  }
  
  /* Estilos específicos para o HTML e o Body */
  html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #191919;
    display: block;
    text-align: center;
  }

input[type = "text"]{
    background-color:rgb(32, 29, 32); 
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #205477;
    padding: 10px 5px;
    width: 250px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
  }
 input[type = "text"]:focus{
    width: 280px;
    border-color: #0779eb;
    background-color:rgb(32, 29, 32); 
  }
button{

    background: none;
    display: block;
    margin: 5px;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
button:hover{
    background: #2ecc71;
  }
 label{
    font-size: 23px;;
    color: whitesmoke;
    margin:10px;
    padding:0;
  }
  

.navbar {
    display: flex;
    align-items: center;
    background-color: #191919;
    height: 70px;
    justify-content: space-around;
  }
  
  /* Estilos para links dentro da barra de navegação */
  .navbar a {
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
  }

  .navbar a:hover{
    color:#2ecc71;
  }

  #btn{
    margin-top: 15px;
    display: flex;
    justify-content: center;
  }

  #box{
    padding: 25px;
  }